body {background-color: #FFFB7C;}

h1{
	font-family: Arial, sans-serif;
	font-weight: 800;
	color: #FF6371;
}

p{
	font-family: "Times New Roman," serif;
	font-weight: 400;
	font-style: normal;
	color:#3B9BCC;
}

ol, ul, li {
	font-family: Arial, sans-serif;
	color:#3C8BB2;
}